<div class="container">
	<table class="table">
		<thead style="color:#ffc000;">
			<tr>
				<td><strong>Usuario que realizó la donación</strong></td>
				<td><strong>Monto de la donación</strong></td>
			</tr>
		</thead>
		<tbody style="color:#ffc000;">
			<tr>
				<td><%= @Donacion.user.nombre_completo %></td>
				<td><%= @Donacion.monto %></td>
			</tr>
		</tbody>
	</table>

	<table class="table" style="border: 0px solid #8e476c">
		<thead style="border: none; ">
			<tr>
				<td><%= link_to 'Aceptar', Donacions_path, class:"btn new_btn2", style:"width: 100%; "%></td>
			</tr>

		</thead>
		<tbody style="border: none;">
			<tr>
				
			</tr>
		</tbody>
	</table>
	

	
</div>